{% extends "base.html" %}
{% block title %}Seite offline - timeskip{% endblock %}
{% block content %}
    <div class="webapp-offline-page">
        <h1>
            Diese Webseite ist anscheinend offline, informiere den Ersteller bitte darüber, damit er
            die Web-in-Web-App wieder online macht.
        </h1>
        <div class="webapp-offline-actions">
            <a class="webapp-offline-yes" href="{{ url_for('index') }}">Wollen Sie mehr über timeskip erfahren?</a>
        </div>
    </div>
{% endblock %}
